.friendList {
  padding: 0;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px 60px 10px 30px;
}

.status {
  margin: 0 15px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.status.green {
  background-color: rgb(49, 167, 75);
}

.status.red {
  background-color: rgb(240, 29, 29);
}

.avatar {
  margin: 0 20px 0 0;
}

.name {
  margin: 0;
  font-weight: 500;
  font-size: 28px;
}
